#backgroundPane
{
    -fx-background-image: url("/textures/ui/CardBackground.png");
    -fx-background-size: 100 125;
}

.propertyLabel
{
    -fx-text-fill: lightgray;
    -fx-font-family: "Lucida Bright";
    -fx-font-size: 10pt
}