#backgroundPane
{
    -fx-background-image: url("/textures/ui/EndMatchScreen_Background.png");
    -fx-background-size: 1600 900;
    -fx-font-family: "Enchanted Land";
}

#titleLabel
{
    -fx-font-size: 75pt;
    -fx-text-fill: black;
}

#resultLabel
{
    -fx-font-size: 60pt;
    -fx-text-fill: black;

}

