#backgroundpane
{
    -fx-font-family: "Enchanted Land";
}

#leftVBox
{
    -fx-background-image: url("/textures/ui/LeftFrame_450x720.png");
    -fx-background-size: 450 720;
}

#rightVBox
{
    -fx-background-image: url("/textures/ui/RightFrame_430x720.png");
    -fx-background-size: 430 720;
}

.infoLabel
{
    -fx-font-size: 11pt;
}