#menu_panel
{
    -fx-background-image: url("/textures/ui/Menu_Background.jpg");
    -fx-background-size: 1600 900;
    -fx-font-family: "Enchanted Land";
}

.menu_button
{
    -fx-background-image: url("/textures/ui/Button_Menu.png");
    -fx-font-size: 20pt;
    -fx-text-fill: white;
    -fx-background-size: cover;
    -fx-background-repeat: stretch;
    -fx-font-weight: bold;
    -fx-background-color: rgba(0, 0, 0, 0);
}

.menu_button:hover
{
    -fx-background-image: url("/textures/ui/Button_Menu_Highlighted.png");
}

.label
{
    -fx-font-size: 13pt;
    -fx-font-family: "Lucida Bright";
}

.textfield
{
    -fx-background-color: rgba(120,120,120, 0.2);
    -fx-font-size: 13pt;
    -fx-font-family: "Lucida Bright";
}

#menu_title
{
    -fx-font-size: 90pt;
    -fx-text-fill: white;
    -fx-font-family: "Enchanted Land";
}

#version_label
{
    -fx-font-size: 40pt;
    -fx-text-fill: white;
    -fx-font-family: "Enchanted Land";
}

