#backgroundpane
{
    -fx-background-image: url("/textures/ui/Menu_Background.jpg");
    -fx-background-size: 600 250;
    -fx-font-family: "Enchanted Land";
}

#menu_title
{
    -fx-font-size: 50pt;
    -fx-text-fill: black;
}

#version_label
{
    -fx-font-size: 15pt;
    -fx-text-fill: black;

}