.table-view
{
    -fx-background-color: rgba(120, 120, 120, 0.4);
    -fx-font-family: "Lucida Bright";
    -fx-text-fill: white;
}

.table-view .column-header-background
{
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-text-fill: white;
}

.table-view .column-header
{
    -fx-background-color: rgba(0, 0, 0, 0.0);
    -fx-text-fill: white;
}

.table-view .table-cell
{
    -fx-background-color: rgba(120, 120, 120, 0.4);
    -fx-text-fill: white;
}

.table-row-cell
{
    -fx-background-color: rgba(120, 120, 120, 0.4);
    -fx-text-fill: white;
}

.table-row-cell:selected
{
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}