#backgroundPane
{
    -fx-background-image: url("/textures/ui/Menu_Background.jpg");
    -fx-background-size: 1600 900;
}

.splitBackground
{
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

#treeView
{
    -fx-background-color: rgba(0, 0, 0, 0.5);
}